table {
  margin-top: 5%;
}
button {
  margin-top: 5%;
}
mat-form-field {
  margin-top: 5%;
  margin-bottom: -5%;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

mat-cell {
  white-space: nowrap;
}
